body {
  margin: 0;
  font-family: "Comic Sans MS", cursive;
  background: linear-gradient(to top, #ffb9a5, #ff7378);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}

h1 {
  color: #ff5e78;
}
#slide{
  width: 150px;
  height: 50px;
  border-radius: 700px;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #ff5e78;
  color: white;
  cursor: pointer;
}
